@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

body {
	font-family: "Raleway", sans-serif;
}

#header {
	text-transform: uppercase;
}

	#header h1 {
		font-weight: 400;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 2rem;
		left: 2rem;
		color: #FFFFFF;
	}
		#header h1 a {
			color: #FFFFFF;
			text-decoration: none;
			font-weight: 700;
			font-size: 2.4rem;
		}

	#header nav {
		position: absolute;
		right: 2rem;
		top: 2rem;
	}

		#header nav > ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}

			#header nav > ul > li {
				display: inline-block;
				margin-left: 2.5rem;
				padding-left: 0;
			}

				#header nav > ul > li a {
					color: #777777;
					display: inline-block;
					text-decoration: none;
					font-size: 20px;
				}

					#header nav > ul > li a:hover {
						color: #484848;
					}

	#banner {
		padding: 16rem 0 13rem;
		text-align: center;
		/*background-image: url("../images/overlay.png"), url("../images/banner.jpg");*/
		background: linear-gradient(180deg, rgba(0,0,0,0.75) 10%, rgba(123,54,23,0.75) 90%), url("../images/banner.jpg");
		background-size: cover;
		text-transform: uppercase;
	}

		#banner h2 {
			color: #FFFFFF;
			font-weight: 700;
		}

		#banner p {
			color: #AAAAAA;
			font-size: 1.5rem;
		}

ul.actions {
			list-style-type: none;
		}

		ul.actions li {
			display: inline;
		}

		ul.actions li a {
			background-color: #f32853;
			color: #ffffff;
			border-color: #f32853;
		}

		ul.actions li a.big {
			font-size: 2rem;
			padding: 2rem 3rem;
			display: inline-block;
			text-decoration: none;
			border-radius: 5px;
		}		

.wrapper {
	padding: 4rem 0;
}

	#two {
		background-color: #f6f6f6;
		text-align: center;
	}
		#two .polaroid {
			background-color: #FFFFFF;
			box-shadow: 0px 3px 0.125rem 0px rgba(0,0,0,0.15);
		}

			#two .polaroid img {
				max-width: 100%;
				margin: 0;
			}

			#two .polaroid h3 {
				text-transform: uppercase;
				font-size: 1.8rem;
				margin: 0;
				padding: 1rem 0;
				
			}

		#two ul.actions {
			margin-top: 4rem;
		}

header.major {
	text-align: center;
}

	/* Feature */

	.feature-grid {
		position: relative;
	}

		.feature-grid:after {
			clear: both;
			content: '';
			display: block;
		}

		.feature-grid .feature {
			display: inline-block;
			float: left;
			margin-bottom: 3em;
			width: 50%;
		}

			.feature-grid .feature .content {
				width: 60%;
			}

			.feature-grid .feature .image {
				width: 30%;
			}

				.feature-grid .feature .image img {
					display: inline;
					max-width: 100%;
				}

			.feature-grid .feature:nth-child(odd) .content, .feature-grid .feature:nth-child(odd) .image {
				float: right;
				margin-right: 5%;
				text-align: right;
			}

			.feature-grid .feature:nth-child(even) .content, .feature-grid .feature:nth-child(even) .image {
				float: left;
				margin-left: 5%;
				text-align: left;
			}


.image.rounded {
			border-radius: 100%;
		}

			.image.rounded img {
				border: solid 0.5em rgba(144, 144, 144, 0.25);
				border-radius: 100%;
			}